<h2 id="intro" class="list">Inleiding <span class="backlink"> terug naar <a href="#toc">Index</a></span></h2>
<span class="markdown">
Dit is een tijdelijke tekst voor de inleiding. De inleiding moet kort de ontologie, de motivatie, de stand van de techniek en de doelen beschrijven.</span>
<div id="namespacedeclarations">
<h3 id="ns" class="list">Naamruimtedefinities</h3>
<div id="ns" align="center">
<table>
<caption> <a href="#ns"> Table 1</a>: Gebruikte naamruimten in dit document </caption>
<tbody>
<tr><td><b>[Ontology NS Prefix]</b></td><td>&lt;https://identifier.overheid.nl/tooi/def/ont&gt;</td></tr>
<tr><td></td><td></td></tr>
<tr><td><b>def</b></td><td>&lt;https://identifier.overheid.nl/tooi/def&gt;</td></tr>
<tr><td><b>pav</b></td><td>&lt;http://purl.org/pav&gt;</td></tr>
<tr><td><b>org</b></td><td>&lt;http://www.w3.org/ns/org&gt;</td></tr>
<tr><td><b>owl</b></td><td>&lt;http://www.w3.org/2002/07/owl&gt;</td></tr>
<tr><td><b>dcam</b></td><td>&lt;http://purl.org/dc/dcam&gt;</td></tr>
<tr><td><b>xsd</b></td><td>&lt;http://www.w3.org/2001/XMLSchema&gt;</td></tr>
<tr><td><b>skos</b></td><td>&lt;http://www.w3.org/2004/02/skos/core&gt;</td></tr>
<tr><td><b>rdfs</b></td><td>&lt;http://www.w3.org/2000/01/rdf-schema&gt;</td></tr>
<tr><td><b>rdf</b></td><td>&lt;http://www.w3.org/1999/02/22-rdf-syntax-ns&gt;</td></tr>
<tr><td><b>xml</b></td><td>&lt;http://www.w3.org/XML/1998/namespace&gt;</td></tr>
<tr><td><b>dcterms</b></td><td>&lt;http://purl.org/dc/terms&gt;</td></tr>
<tr><td><b>dcat</b></td><td>&lt;http://www.w3.org/ns/dcat&gt;</td></tr>
<tr><td><b>euvoc</b></td><td>&lt;http://publications.europa.eu/ontology/euvoc&gt;</td></tr>
<tr><td><b>prov</b></td><td>&lt;http://www.w3.org/ns/prov&gt;</td></tr>
<tr><td><b>dc</b></td><td>&lt;http://purl.org/dc/elements/1.1&gt;</td></tr>
</tbody>
</table>
</div>
</div>
