<h2 id="overv" class="list">tooiont: Overzicht <span class="backlink"> terug naar <a href="#toc">Index</a></span></h2>
<span class="markdown">
Deze ontologie heeft de volgende klassen en eigenschappen.</span>
<h4>Klassen</h4>
<ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#/Afsplitsing"
         title="https://identifier.overheid.nl/tooi/def/ont/Afsplitsing">Afsplitsing</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/AgentClass" title="http://purl.org/dc/terms/AgentClass">
         <span>Agent Class</span>
      </a>
   </li>
   <li>
      <a href="#/CaribischOpenbaarLichaam"
         title="https://identifier.overheid.nl/tooi/def/ont/CaribischOpenbaarLichaam">Caribisch openbaar lichaam</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#Collection" title="http://www.w3.org/2004/02/skos/core#Collection">Collection</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#Concept" title="http://www.w3.org/2004/02/skos/core#Concept">Concept</a>
   </li>
   <li>
      <a href="#/Documenthandeling"
         title="https://identifier.overheid.nl/tooi/def/ont/Documenthandeling">Documenthandeling</a>
   </li>
   <li>
      <a href="#/ExistentieleWijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/ExistentieleWijziging">Existentiële wijziging</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/FileFormat" title="http://purl.org/dc/terms/FileFormat">
         <span>File Format</span>
      </a>
   </li>
   <li>
      <a href="#http://www.w3.org/ns/org#FormalOrganization" title="http://www.w3.org/ns/org#FormalOrganization">Formal Organization</a>
   </li>
   <li>
      <a href="#/FormeleOrganisatiewijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/FormeleOrganisatiewijziging">Formele organisatiewijziging</a>
   </li>
   <li>
      <a href="#/Gemeente"
         title="https://identifier.overheid.nl/tooi/def/ont/Gemeente">Gemeente</a>
   </li>
   <li>
      <a href="#/Herschikking"
         title="https://identifier.overheid.nl/tooi/def/ont/Herschikking">Herschikking</a>
   </li>
   <li>
      <a href="#/HistorischeVersie"
         title="https://identifier.overheid.nl/tooi/def/ont/HistorischeVersie">Historische versie</a>
   </li>
   <li>
      <a href="#/Informatieobject"
         title="https://identifier.overheid.nl/tooi/def/ont/Informatieobject">Informatieobject</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/Jurisdiction" title="http://purl.org/dc/terms/Jurisdiction">
         <span>Jurisdiction</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/LicenseDocument" title="http://purl.org/dc/terms/LicenseDocument">
         <span>License Document</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/Location" title="http://purl.org/dc/terms/Location">
         <span>Location</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/MediaType" title="http://purl.org/dc/terms/MediaType">
         <span>Media Type</span>
      </a>
   </li>
   <li>
      <a href="#/Ministerie"
         title="https://identifier.overheid.nl/tooi/def/ont/Ministerie">Ministerie</a>
   </li>
   <li>
      <a href="#/OfficielePublicatie"
         title="https://identifier.overheid.nl/tooi/def/ont/OfficielePublicatie">Officiële publicatie</a>
   </li>
   <li>
      <a href="#/Opheffing"
         title="https://identifier.overheid.nl/tooi/def/ont/Opheffing">Opheffing</a>
   </li>
   <li>
      <a href="#/Oprichting"
         title="https://identifier.overheid.nl/tooi/def/ont/Oprichting">Oprichting</a>
   </li>
   <li>
      <a href="#/Opsplitsing"
         title="https://identifier.overheid.nl/tooi/def/ont/Opsplitsing">Opsplitsing</a>
   </li>
   <li>
      <a href="#/Overheidsorganisatie"
         title="https://identifier.overheid.nl/tooi/def/ont/Overheidsorganisatie">Overheidsorganisatie</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/PeriodOfTime" title="http://purl.org/dc/terms/PeriodOfTime">
         <span>Period of Time</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/PhysicalMedium" title="http://purl.org/dc/terms/PhysicalMedium">
         <span>Physical Medium</span>
      </a>
   </li>
   <li>
      <a href="#/Provincie"
         title="https://identifier.overheid.nl/tooi/def/ont/Provincie">Provincie</a>
   </li>
   <li>
      <a href="#/SamengesteldInformatieobject"
         title="https://identifier.overheid.nl/tooi/def/ont/SamengesteldInformatieobject">Samengesteld informatieobject</a>
   </li>
   <li>
      <a href="#/Samenvoeging"
         title="https://identifier.overheid.nl/tooi/def/ont/Samenvoeging">Samenvoeging</a>
   </li>
   <li>
      <a href="#/Samenwerkingsorganisatie"
         title="https://identifier.overheid.nl/tooi/def/ont/Samenwerkingsorganisatie">Samenwerkingsorganisatie</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/SizeOrDuration" title="http://purl.org/dc/terms/SizeOrDuration">
         <span>Size or Duration</span>
      </a>
   </li>
   <li>
      <a href="#/Toestandswijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/Toestandswijziging">Toestandswijziging</a>
   </li>
   <li>
      <a href="#/Uitbreiding"
         title="https://identifier.overheid.nl/tooi/def/ont/Uitbreiding">Uitbreiding</a>
   </li>
   <li>
      <a href="#/Waterschap"
         title="https://identifier.overheid.nl/tooi/def/ont/Waterschap">Waterschap</a>
   </li>
   <li>
      <a href="#/ZBO" title="https://identifier.overheid.nl/tooi/def/ont/ZBO">Zelfstandig bestuursorgaan</a>
   </li>
</ul><h4>Objecteigenschappen</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#/creatiedatum"
         title="https://identifier.overheid.nl/tooi/def/ont/creatiedatum">
         <span>Creatiedatum</span>
      </a>
   </li>
   <li>
      <a href="#/documentsoort"
         title="https://identifier.overheid.nl/tooi/def/ont/documentsoort">Documentsoort</a>
   </li>
   <li>
      <a href="#/expandeert"
         title="https://identifier.overheid.nl/tooi/def/ont/expandeert">Expandeert</a>
   </li>
   <li>
      <a href="#http://purl.org/pav/hasCurrentVersion" title="http://purl.org/pav/hasCurrentVersion">Has current version</a>
   </li>
   <li>
      <a href="#/ligtInProvincie"
         title="https://identifier.overheid.nl/tooi/def/ont/ligtInProvincie">Ligt in provincie</a>
   </li>
   <li>
      <a href="#/opsteller"
         title="https://identifier.overheid.nl/tooi/def/ont/opsteller">
         <span>Opsteller</span>
      </a>
   </li>
   <li>
      <a href="#/organisatiesoort"
         title="https://identifier.overheid.nl/tooi/def/ont/organisatiesoort">Organisatiesoort</a>
   </li>
   <li>
      <a href="#/publicatieblad"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatieblad">Publicatieblad</a>
   </li>
   <li>
      <a href="#/publicatiedatum"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatiedatum">
         <span>Publicatiedatum</span>
      </a>
   </li>
   <li>
      <a href="#/rubriek"
         title="https://identifier.overheid.nl/tooi/def/ont/rubriek">Rubriek</a>
   </li>
   <li>
      <a href="#/soortHandeling"
         title="https://identifier.overheid.nl/tooi/def/ont/soortHandeling">soort handeling</a>
   </li>
   <li>
      <a href="#/soortSamengesteldInformatieobject"
         title="https://identifier.overheid.nl/tooi/def/ont/soortSamengesteldInformatieobject">soort samengesteld informatieobject</a>
   </li>
   <li>
      <a href="#/verantwoordelijkMinisterie"
         title="https://identifier.overheid.nl/tooi/def/ont/verantwoordelijkMinisterie">Verantwoordelijk ministerie</a>
   </li>
   <li>
      <a href="#/verantwoordelijke"
         title="https://identifier.overheid.nl/tooi/def/ont/verantwoordelijke">
         <span>Verantwoordelijke</span>
      </a>
   </li>
   <li>
      <a href="#/zboSoort"
         title="https://identifier.overheid.nl/tooi/def/ont/zboSoort">ZBO-soort</a>
   </li>
</ul><h4>Data-eigenschappen</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#/aggregatiekenmerk"
         title="https://identifier.overheid.nl/tooi/def/ont/aggregatiekenmerk">aggregatiekenmerk</a>
   </li>
   <li>
      <a href="#/alternatieveTitel"
         title="https://identifier.overheid.nl/tooi/def/ont/alternatieveTitel">Alternatieve titel</a>
   </li>
   <li>
      <a href="#/begindatum"
         title="https://identifier.overheid.nl/tooi/def/ont/begindatum">Begindatum</a>
   </li>
   <li>
      <a href="#/citeertitel"
         title="https://identifier.overheid.nl/tooi/def/ont/citeertitel">Citeertitel</a>
   </li>
   <li>
      <a href="#/colcode"
         title="https://identifier.overheid.nl/tooi/def/ont/colcode">COL-code</a>
   </li>
   <li>
      <a href="#/datumInwerkingtreding"
         title="https://identifier.overheid.nl/tooi/def/ont/datumInwerkingtreding">Datum inwerkingtreding</a>
   </li>
   <li>
      <a href="#/datumTerugwerkendeKracht"
         title="https://identifier.overheid.nl/tooi/def/ont/datumTerugwerkendeKracht">Datum terugwerkende kracht</a>
   </li>
   <li>
      <a href="#/datumUitwerkingtreding"
         title="https://identifier.overheid.nl/tooi/def/ont/datumUitwerkingtreding">Datum uitwerkingtreding</a>
   </li>
   <li>
      <a href="#/datumVervanging"
         title="https://identifier.overheid.nl/tooi/def/ont/datumVervanging">datum vervanging</a>
   </li>
   <li>
      <a href="#/einddatum"
         title="https://identifier.overheid.nl/tooi/def/ont/einddatum">Einddatum</a>
   </li>
   <li>
      <a href="#/gemeentecode"
         title="https://identifier.overheid.nl/tooi/def/ont/gemeentecode">Gemeentecode</a>
   </li>
   <li>
      <a href="#/heeftGrondslag"
         title="https://identifier.overheid.nl/tooi/def/ont/heeftGrondslag">Grondslag</a>
   </li>
   <li>
      <a href="#/heeftGrondslagString"
         title="https://identifier.overheid.nl/tooi/def/ont/heeftGrondslagString">Grondslag (tekstuele weergegeven)</a>
   </li>
   <li>
      <a href="#/kaderwetVanToepassing"
         title="https://identifier.overheid.nl/tooi/def/ont/kaderwetVanToepassing">Kaderwet van toepassing</a>
   </li>
   <li>
      <a href="#/ministeriecode"
         title="https://identifier.overheid.nl/tooi/def/ont/ministeriecode">Ministeriecode</a>
   </li>
   <li>
      <a href="#/naamOpsteller"
         title="https://identifier.overheid.nl/tooi/def/ont/naamOpsteller">Naam van de opsteller</a>
   </li>
   <li>
      <a href="#/opCode"
         title="https://identifier.overheid.nl/tooi/def/ont/opCode">Officiële publicatie-code</a>
   </li>
   <li>
      <a href="#/officieleTitel"
         title="https://identifier.overheid.nl/tooi/def/ont/officieleTitel">Officiële titel</a>
   </li>
   <li>
      <a href="#/onderwerp"
         title="https://identifier.overheid.nl/tooi/def/ont/onderwerp">
         <span>Onderwerp</span>
      </a>
   </li>
   <li>
      <a href="#/organisatiecode"
         title="https://identifier.overheid.nl/tooi/def/ont/organisatiecode">Organisatiecode</a>
   </li>
   <li>
      <a href="#/owmsId"
         title="https://identifier.overheid.nl/tooi/def/ont/owmsId">OWMS-ID</a>
   </li>
   <li>
      <a href="#/peildatum"
         title="https://identifier.overheid.nl/tooi/def/ont/peildatum">Peildatum</a>
   </li>
   <li>
      <a href="#/pid" title="https://identifier.overheid.nl/tooi/def/ont/pid">pid</a>
   </li>
   <li>
      <a href="#/provinciecode"
         title="https://identifier.overheid.nl/tooi/def/ont/provinciecode">Provinciecode</a>
   </li>
   <li>
      <a href="#/publicatiejaargang"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatiejaargang">Publicatiejaargang</a>
   </li>
   <li>
      <a href="#/publicatienummer"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatienummer">Publicatienummer</a>
   </li>
   <li>
      <a href="#/heeftRealisatie"
         title="https://identifier.overheid.nl/tooi/def/ont/heeftRealisatie">Realisatie</a>
   </li>
   <li>
      <a href="#/redenVervanging"
         title="https://identifier.overheid.nl/tooi/def/ont/redenVervanging">Reden vervanging</a>
   </li>
   <li>
      <a href="#/socode"
         title="https://identifier.overheid.nl/tooi/def/ont/socode">SO-code</a>
   </li>
   <li>
      <a href="#/tijdstipRegistratie"
         title="https://identifier.overheid.nl/tooi/def/ont/tijdstipRegistratie">Tijdstip registratie</a>
   </li>
   <li>
      <a href="#/tijdstipWijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/tijdstipWijziging">Tijdstip wijziging</a>
   </li>
   <li>
      <a href="#/titel"
         title="https://identifier.overheid.nl/tooi/def/ont/titel">Titel</a>
   </li>
   <li>
      <a href="#/omschrijving"
         title="https://identifier.overheid.nl/tooi/def/ont/omschrijving">
         <span>trefwoord</span>
      </a>
   </li>
   <li>
      <a href="#/verkorteTitel"
         title="https://identifier.overheid.nl/tooi/def/ont/verkorteTitel">Verkorte titel</a>
   </li>
   <li>
      <a href="#http://purl.org/pav/version" title="http://purl.org/pav/version">Version</a>
   </li>
   <li>
      <a href="#/prefLabelVoorGroepen"
         title="https://identifier.overheid.nl/tooi/def/ont/prefLabelVoorGroepen">Voorkeurslabel voor groepen</a>
   </li>
   <li>
      <a href="#/waterschapscode"
         title="https://identifier.overheid.nl/tooi/def/ont/waterschapscode">Waterschapscode</a>
   </li>
   <li>
      <a href="#/zbocode"
         title="https://identifier.overheid.nl/tooi/def/ont/zbocode">ZBO-Code</a>
   </li>
   <li>
      <a href="#/zichtdatum"
         title="https://identifier.overheid.nl/tooi/def/ont/zichtdatum">Zichtdatum</a>
   </li>
</ul><iframe align="center" width="100%" height ="500px" src="webvowl/index.html"></iframe> 
