<h2 id="desc" class="list">tooiont_v1.0: Description <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This is a placeholder text for the description of your ontology. The description should include an explanation and a diagram explaining how the classes are related, examples of usage, etc.</span>

