<h2 id="intro" class="list">Introduction <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This is a place holder text for the introduction. The introduction should briefly describe the ontology, its motivation, state of the art and goals.</span>
<div id="namespacedeclarations">
<h3 id="ns" class="list">Namespace declarations</h3>
<div id="ns" align="center">
<table>
<caption> <a href="#ns"> Table 1</a>: Namespaces used in the document </caption>
<tbody>
<tr><td><b>[Ontology NS Prefix]</b></td><td>&lt;https://identifier.overheid.nl/tooi/def/ont_v1.0&gt;</td></tr>
<tr><td></td><td></td></tr>
<tr><td><b>def</b></td><td>&lt;https://identifier.overheid.nl/tooi/def&gt;</td></tr>
<tr><td><b>pav</b></td><td>&lt;http://purl.org/pav&gt;</td></tr>
<tr><td><b>org</b></td><td>&lt;http://www.w3.org/ns/org&gt;</td></tr>
<tr><td><b>owl</b></td><td>&lt;http://www.w3.org/2002/07/owl&gt;</td></tr>
<tr><td><b>xsd</b></td><td>&lt;http://www.w3.org/2001/XMLSchema&gt;</td></tr>
<tr><td><b>skos</b></td><td>&lt;http://www.w3.org/2004/02/skos/core&gt;</td></tr>
<tr><td><b>rdfs</b></td><td>&lt;http://www.w3.org/2000/01/rdf-schema&gt;</td></tr>
<tr><td><b>tooiont</b></td><td>&lt;https://identifier.overheid.nl/tooi/def/ont&gt;</td></tr>
<tr><td><b>rdf</b></td><td>&lt;http://www.w3.org/1999/02/22-rdf-syntax-ns&gt;</td></tr>
<tr><td><b>xml</b></td><td>&lt;http://www.w3.org/XML/1998/namespace&gt;</td></tr>
<tr><td><b>dcterms</b></td><td>&lt;http://purl.org/dc/terms&gt;</td></tr>
<tr><td><b>euvoc</b></td><td>&lt;http://publications.europa.eu/ontology/euvoc&gt;</td></tr>
<tr><td><b>prov</b></td><td>&lt;http://www.w3.org/ns/prov&gt;</td></tr>
</tbody>
</table>
</div>
</div>
