<h2 id="overv" class="list">tooiont_v1.0: Overzicht <span class="backlink"> terug naar <a href="#toc">Index</a></span></h2>
<span class="markdown">
Deze ontologie heeft de volgende klassen en eigenschappen.</span>
<h4>Klassen</h4>
<ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#http://www.w3.org/ns/prov#Activity" title="http://www.w3.org/ns/prov#Activity">Activity</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Afsplitsing"
         title="https://identifier.overheid.nl/tooi/def/ont/Afsplitsing">Afsplitsing</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/CaribischOpenbaarLichaam"
         title="https://identifier.overheid.nl/tooi/def/ont/CaribischOpenbaarLichaam">Caribisch openbaar lichaam</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#Collection" title="http://www.w3.org/2004/02/skos/core#Collection">Collection</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#Concept" title="http://www.w3.org/2004/02/skos/core#Concept">Concept</a>
   </li>
   <li>
      <a href="#http://www.w3.org/ns/prov#Entity" title="http://www.w3.org/ns/prov#Entity">Entity</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/ExistentieleWijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/ExistentieleWijziging">Existentiële wijziging</a>
   </li>
   <li>
      <a href="#http://www.w3.org/ns/org#FormalOrganization" title="http://www.w3.org/ns/org#FormalOrganization">Formal Organization</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/FormeleOrganisatiewijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/FormeleOrganisatiewijziging">Formele organisatiewijziging</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Gemeente"
         title="https://identifier.overheid.nl/tooi/def/ont/Gemeente">Gemeente</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Herschikking"
         title="https://identifier.overheid.nl/tooi/def/ont/Herschikking">Herschikking</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/HistorischeVersie"
         title="https://identifier.overheid.nl/tooi/def/ont/HistorischeVersie">Historische versie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Informatieobject"
         title="https://identifier.overheid.nl/tooi/def/ont/Informatieobject">Informatieobject</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Ministerie"
         title="https://identifier.overheid.nl/tooi/def/ont/Ministerie">Ministerie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/OfficielePublicatie"
         title="https://identifier.overheid.nl/tooi/def/ont/OfficielePublicatie">Officiële publicatie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Opheffing"
         title="https://identifier.overheid.nl/tooi/def/ont/Opheffing">Opheffing</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Oprichting"
         title="https://identifier.overheid.nl/tooi/def/ont/Oprichting">Oprichting</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Opsplitsing"
         title="https://identifier.overheid.nl/tooi/def/ont/Opsplitsing">Opsplitsing</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Overheidsorganisatie"
         title="https://identifier.overheid.nl/tooi/def/ont/Overheidsorganisatie">Overheidsorganisatie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Provincie"
         title="https://identifier.overheid.nl/tooi/def/ont/Provincie">Provincie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Samenvoeging"
         title="https://identifier.overheid.nl/tooi/def/ont/Samenvoeging">Samenvoeging</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Samenwerkingsorganisatie"
         title="https://identifier.overheid.nl/tooi/def/ont/Samenwerkingsorganisatie">Samenwerkingsorganisatie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Toestandswijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/Toestandswijziging">Toestandswijziging</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Uitbreiding"
         title="https://identifier.overheid.nl/tooi/def/ont/Uitbreiding">Uitbreiding</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/Waterschap"
         title="https://identifier.overheid.nl/tooi/def/ont/Waterschap">Waterschap</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/ZBO" title="https://identifier.overheid.nl/tooi/def/ont/ZBO">Zelfstandig bestuursorgaan</a>
   </li>
</ul><h4>Objecteigenschappen</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/documentsoort"
         title="https://identifier.overheid.nl/tooi/def/ont/documentsoort">Documentsoort</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/expandeert"
         title="https://identifier.overheid.nl/tooi/def/ont/expandeert">Expandeert</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/heeftBevoegdheidsgebied"
         title="https://identifier.overheid.nl/tooi/def/ont/heeftBevoegdheidsgebied">Grondgebied</a>
   </li>
   <li>
      <a href="#http://purl.org/pav/hasCurrentVersion" title="http://purl.org/pav/hasCurrentVersion">Has current version</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/heeftDeelnemer"
         title="https://identifier.overheid.nl/tooi/def/ont/heeftDeelnemer">Heeft deelnemer(s)</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/ligtInProvincie"
         title="https://identifier.overheid.nl/tooi/def/ont/ligtInProvincie">Ligt in provincie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/organisatiesoort"
         title="https://identifier.overheid.nl/tooi/def/ont/organisatiesoort">Organisatiesoort</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/publicatieblad"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatieblad">Publicatieblad</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/rubriek"
         title="https://identifier.overheid.nl/tooi/def/ont/rubriek">Rubriek</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/thema"
         title="https://identifier.overheid.nl/tooi/def/ont/thema">Thema</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/verantwoordelijkMinisterie"
         title="https://identifier.overheid.nl/tooi/def/ont/verantwoordelijkMinisterie">Verantwoordelijk ministerie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/verantwoordelijke"
         title="https://identifier.overheid.nl/tooi/def/ont/verantwoordelijke">Verantwoordelijke</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/zboSoort"
         title="https://identifier.overheid.nl/tooi/def/ont/zboSoort">ZBO-soort</a>
   </li>
</ul><h4>Data-eigenschappen</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/alternatieveTitel"
         title="https://identifier.overheid.nl/tooi/def/ont/alternatieveTitel">Alternatieve titel</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/begindatum"
         title="https://identifier.overheid.nl/tooi/def/ont/begindatum">Begindatum</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/citeertitel"
         title="https://identifier.overheid.nl/tooi/def/ont/citeertitel">Citeertitel</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/colcode"
         title="https://identifier.overheid.nl/tooi/def/ont/colcode">COL-code</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/datumInwerkingtreding"
         title="https://identifier.overheid.nl/tooi/def/ont/datumInwerkingtreding">Datum inwerkingtreding</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/datumTerugwerkendeKracht"
         title="https://identifier.overheid.nl/tooi/def/ont/datumTerugwerkendeKracht">Datum terugwerkende kracht</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/datumUitwerkingtreding"
         title="https://identifier.overheid.nl/tooi/def/ont/datumUitwerkingtreding">Datum uitwerkingtreding</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/einddatum"
         title="https://identifier.overheid.nl/tooi/def/ont/einddatum">Einddatum</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/gemeentecode"
         title="https://identifier.overheid.nl/tooi/def/ont/gemeentecode">Gemeentecode</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/heeftGrondslag"
         title="https://identifier.overheid.nl/tooi/def/ont/heeftGrondslag">Grondslag</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/heeftGrondslagString"
         title="https://identifier.overheid.nl/tooi/def/ont/heeftGrondslagString">Grondslag (tekstuele weergegeven)</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/inhoudsindicatie"
         title="https://identifier.overheid.nl/tooi/def/ont/inhoudsindicatie">Inhoudsindicatie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/kaderwetVanToepassing"
         title="https://identifier.overheid.nl/tooi/def/ont/kaderwetVanToepassing">Kaderwet van toepassing</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/ministeriecode"
         title="https://identifier.overheid.nl/tooi/def/ont/ministeriecode">Ministeriecode</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/opCode"
         title="https://identifier.overheid.nl/tooi/def/ont/opCode">Officiële publicatie-code</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/officieleTitel"
         title="https://identifier.overheid.nl/tooi/def/ont/officieleTitel">Officiële titel</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/onderwerp"
         title="https://identifier.overheid.nl/tooi/def/ont/onderwerp">Onderwerp</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/organisatiecode"
         title="https://identifier.overheid.nl/tooi/def/ont/organisatiecode">Organisatiecode</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/owmsId"
         title="https://identifier.overheid.nl/tooi/def/ont/owmsId">OWMS-ID</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/peildatum"
         title="https://identifier.overheid.nl/tooi/def/ont/peildatum">Peildatum</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/provinciecode"
         title="https://identifier.overheid.nl/tooi/def/ont/provinciecode">Provinciecode</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/publicatiedatum"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatiedatum">Publicatiedatum</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/publicatiejaargang"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatiejaargang">Publicatiejaargang</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/publicatienummer"
         title="https://identifier.overheid.nl/tooi/def/ont/publicatienummer">Publicatienummer</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/socode"
         title="https://identifier.overheid.nl/tooi/def/ont/socode">SO-code</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/tijdstipRegistratie"
         title="https://identifier.overheid.nl/tooi/def/ont/tijdstipRegistratie">Tijdstip registratie</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/tijdstipWijziging"
         title="https://identifier.overheid.nl/tooi/def/ont/tijdstipWijziging">Tijdstip wijziging</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/titel"
         title="https://identifier.overheid.nl/tooi/def/ont/titel">Titel</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/title" title="http://purl.org/dc/terms/title">title</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/verkorteTitel"
         title="https://identifier.overheid.nl/tooi/def/ont/verkorteTitel">Verkorte titel</a>
   </li>
   <li>
      <a href="#http://purl.org/pav/version" title="http://purl.org/pav/version">Version</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/prefLabelVoorGroepen"
         title="https://identifier.overheid.nl/tooi/def/ont/prefLabelVoorGroepen">Voorkeurslabel voor groepen</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/waterschapscode"
         title="https://identifier.overheid.nl/tooi/def/ont/waterschapscode">Waterschapscode</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/zbocode"
         title="https://identifier.overheid.nl/tooi/def/ont/zbocode">ZBO-Code</a>
   </li>
   <li>
      <a href="#https://identifier.overheid.nl/tooi/def/ont/zichtdatum"
         title="https://identifier.overheid.nl/tooi/def/ont/zichtdatum">Zichtdatum</a>
   </li>
</ul><h4>Concrete exemplaren</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#"
         title="https://identifier.overheid.nl/tooi/def/ont_v1.0">
         <span>tooiont_v1.0</span>
      </a>
   </li>
</ul><iframe align="center" width="100%" height ="500px" src="webvowl/index.html"></iframe> 
